@charset "UTF-8";
:root {
  --ff-noto-serif-display: "Noto Serif Display", serif;
  --ff-dm-serif-display: "DM Serif Display", serif;
  --ff-dm-sans: "DM Sans", sans-serif;
  --ff-roboto-serif: "Roboto Serif", serif;
}
[data-theme="landing"] {
  --landing-1-color: #f2f2f2;
  --landing-2-color: #4f5f73;
  --landing-3-color: #a3a9b0;
  --landing-4-color: #8c4b45;
  --landing-5-color: #ccc4c0;
  --landing-6-color: #5b6470;
  --landing-7-color: #003366;
  --landing-8-color: #cbc3ff;
  --landing-yelloew: #bdc7d6;

  color: var(--landing-7-color);
  background-color: var(--landing-1-color);
}
[data-theme="landing"] :hover a:hover {
  color: var(--landing-4-color) !important;
}
[data-theme="landing"] #byline {
  color: var(--landing-3-color);
}
[data-theme="landing"] .three-picture {
  border-color: var(--landing-4-color);
}
[data-theme="landing"] #navLink-home {
  color: var(--landing-2-color);
}
[data-theme="landing"] .social-links li a {
  color: var(--landing-3-color);
}

[data-theme="landing"] .text-highlight {
  color: var(--landing-2-color);
}
[data-theme="landing"] a {
  color: var(--landing-3-color);
}
[data-theme="landing"] p {
  color: var(--landing-3-color);
}

[data-theme="landing"] .h1_first {
  color: var(--landing-3-color);
}
[data-theme="landing"] .grid-h3 {
  color: var(--landing-6-color);
}
[data-theme="landing"] .bottomH2 {
  color: var(--landing-7-color);
}
[data-theme="landing"] h1 {
  color: var(--landing-3-color);
}
[data-theme="landing"] .h1-about {
  color: var(--landing-4-color);
}
[data-theme="landing"] .title-h3 {
  color: var(--landing-7-color);
}
[data-theme="landing"] #copyright {
  color: var(--landing-3-color);
}
[data-theme="landing"] .text-about {
  color: var(--landing-3-color);
}

[data-theme="landing"] #themeButton {
  color: var(--landing-3-color);
  background: var(--landing-1-color);
  box-shadow: -5px -5px 15px var(--landing-1-color), 6px 6px 20px var(--landing-2-color);
}
[data-theme="landing"] #themeButton:hover {
  color: var(--landing-8-color);
  box-shadow: -8px -8px 20px var(--landing-5-color), 10px 10px 20px var(--landing-1-color);
}
[data-theme="landing"] .neomorphic-container {
  box-shadow: -5px -5px 10px var(--landing-1-color), 5px 5px 10px var(--landing-3-color);
}

[data-theme="landing"] .neomorphic-container:hover {
  transform: translateY(-4px);
  box-shadow: -10px -10px 20px var(--landing-5-color), 10px 10px 20px var(--landing-6-color);
}
[data-theme="landing"] .tooltip {
  background-color: var(--landing-1-color);
}
[data-theme="landing"] .tooltip p {
  color: var(--landing-2-color);
}
[data-theme="landing"] #footnote :first-child {
  color: var(--landing-5-color);
}
[data-theme="landing"] .profile-picture {
  border-color: var(--landing-4-color);
}
/* ---------------CUSTOM THEME------------------- */
[data-theme="custom"] {
  --custom-1-color: #0455bf;
  --custom-2-color: #a9cbd9;
  --custom-3-color: #0468bf;
  --custom-4-color: #8fb6d9;
  --custom-5-color: #f8fafc;
  --custom-6-color: #037f8c;
  --custom-7-color: #04bfbf;
  --custom-8-color: #008abf;
  --custom-yelloew: #f2cb05;

  color: var(--custom-6-color);
  background-color: var(--custom-7-color);
}
[data-theme="custom"] :hover a:hover {
  color: var(--custom-5-color) !important;
}
[data-theme="custom"] #byline {
  color: var(--custom-6-color);
}
[data-theme="custom"] .three-picture {
  border-color: var(--custom-6-color);
}
[data-theme="custom"] #navLink-home {
  color: var(--custom-3-color);
}
[data-theme="custom"] .social-links li a {
  color: var(--custom-6-color);
}

[data-theme="custom"] .text-highlight {
  color: var(--custom-3-color);
}
[data-theme="custom"] a {
  color: var(--custom-3-color);
}
[data-theme="custom"] p {
  color: var(--custom-6-color);
}

[data-theme="custom"] .h1_first {
  color: var(--custom-6-color);
}
[data-theme="custom"] .grid-h3 {
  color: var(--custom-5-color);
}
[data-theme="custom"] .bottomH2 {
  color: var(--custom-3-color);
}
[data-theme="custom"] h1 {
  color: var(--custom-6-color);
}
[data-theme="custom"] .h1-about {
  color: var(--custom-1-color);
}
[data-theme="custom"] #themeButton {
  color: var(--custom-3-color);
  background: var(--dark-1-color);
}
[data-theme="custom"] #copyright {
  color: var(--custom-6-color);
}
[data-theme="custom"] .text-about {
  color: var(--custom-6-color);
}

[data-theme="custom"] #themeButton {
  color: var(--custom-8-color);
  background: var(--custom-7-color);
  box-shadow: -5px -5px 15px var(--custom-6-color), 3px 3px 10px var(--custom-5-color);
}
[data-theme="custom"] #themeButton:hover {
  color: var(--custom-5-color);
  box-shadow: -8px -8px 20px var(--custom-5-color), 8px 8px 20px var(--custom-6-color);
}
[data-theme="custom"] .neomorphic-container {
  box-shadow: -5px -5px 10px var(--custom-7-color), 5px 5px 10px rgba(0, 0, 0, 0.1);
}

[data-theme="custom"] .neomorphic-container:hover {
  transform: translateY(-4px);
  box-shadow: -10px -10px 20px var(--custom-5-color), 10px 10px 20px var(--custom-6-color);
}
[data-theme="custom"] .tooltip {
  background-color: var(--custom-6-color);
}
[data-theme="custom"] .tooltip p {
  color: var(--custom-5-color);
}
[data-theme="custom"] #footnote :first-child {
  color: var(--custom-5-color);
}
[data-theme="custom"] .profile-picture {
  border-color: var(--custom-6-color);
}
/* -------------------------------------------- */

/* --------------DARK THEME---------------- */

[data-theme="dark"] {
  --dark-1-color: #22a2f2;
  --dark-2-color: #595959;
  --dark-3-color: #2793f2;
  --dark-4-color: #404040;
  --dark-5-color: #d9d6d2;
  --dark-6-color: #f28f16;
  --dark-7-color: #a68f81;
  --dark-8-color: #262625;
  color: var(--light-1-color);
  background-color: var(--dark-8-color);
}
[data-theme="dark"] :hover a:hover {
  color: var(--dark-6-color) !important;
}
[data-theme="dark"] #byline {
  color: var(--dark-3-color);
}
[data-theme="dark"] .three-picture {
  border-color: var(--dark-4-color);
}
[data-theme="dark"] #navLink-home {
  color: var(--dark-1-color);
}
[data-theme="dark"] .social-links li a {
  color: var(--dark-3-color);
}

[data-theme="dark"] .text-highlight {
  color: var(--dark-5-color);
}
[data-theme="dark"] a {
  color: var(--dark-2-color);
}
[data-theme="dark"] p {
  color: var(--dark-2-color);
}

[data-theme="dark"] .h1_first {
  color: var(--dark-2-color);
}
[data-theme="dark"] .bottomH2 {
  color: var(--dark-5-color);
}
[data-theme="dark"] h1 {
  color: var(--dark-2-color);
}
[data-theme="dark"] .h1-about {
  color: var(--dark-1-color);
  font-weight: 400;
}
[data-theme="dark"] .grid-h3 {
  color: var(--dark-2-color);
}
[data-theme="dark"] .title-h3 {
  color: var(--dark-6-color);
}
[data-theme="dark"] .mobile-only p {
  color: var(--dark-5-color);
}
[data-theme="dark"] #themeButton {
  color: var(--dark-5-color);
  background: var(--dark-8-color);
  box-shadow: -5px -5px 15px var(--dark-4-color), 3px 3px 10px var(--dark-2-color);
}
[data-theme="dark"] #themeButton:hover {
  color: var(--dark-3-color);
  box-shadow: -8px -8px 20px var(--dark-5-color), 8px 8px 20px var(--dark-6-color);
}
[data-theme="dark"] #copyright {
  color: var(--dark-7-color);
}
[data-theme="dark"] .neomorphic-container {
  box-shadow: -5px -5px 10px var(--dark-2-color), 5px 5px 10px var(--dark-8-color);
}
[data-theme="dark"] .neomorphic-container:hover {
  transform: translateY(-4px);
  box-shadow: -10px -10px 20px var(--dark-8-color), 10px 10px 20px var(--dark-2-color);
}
[data-theme="dark"] .tooltip {
  background-color: var(--dark-5-color);
}
[data-theme="dark"] .tooltip p {
  color: var(--dark-1-color);
}
[data-theme="dark"] #footnote :first-child {
  color: var(--dark-5-color);
}
[data-theme="dark"] .profile-picture {
  border-color: var(--dark-1-color);
}
/* ------------------------------------------- */
/* ---------------LIGHT THEME------------------ */

[data-theme="light"] {
  --light-1-color: #f2f2f2;
  --light-2-color: #d9c24e;
  --light-3-color: #d9b814;
  --light-4-color: #347317;
  --light-5-color: #1e82d9;
  --light-6-color: ;
  --light-7-color: ;
  --light-8-color: ;
  color: #373a40;
  background-color: var(--light-1-color);
}
[data-theme="light"] :hover a:hover {
  color: var(--light-5-color) !important;
}
[data-theme="light"] #byline {
  color: var(--light-2-color);
}
[data-theme="light"] .three-picture {
  border-color: var(--light-5-color);
}
[data-theme="light"] #navLink-home {
  color: var(--light-4-color);
}
[data-theme="light"] .social-links li a {
  color: var(--light-2-color);
}

[data-theme="light"] .text-highlight {
  color: var(--light-4-color);
}
[data-theme="light"] a {
  color: var(--light-3-color);
}
[data-theme="light"] p {
  color: var(--light-3-color);
}

[data-theme="light"] .h1_first {
  color: var(--light-2-color);
}
[data-theme="light"] .bottomH2 {
  color: var(--light-2-color);
}
[data-theme="light"] h1 {
  color: var(--light-3-color);
}
[data-theme="light"] .h1-about {
  color: var(--light-5-color);
}
[data-theme="light"] .grid-h3 {
  color: var(--light-5-color);
}
[data-theme="light"] .title-h3 {
  color: var(--light-5-color);
}
[data-theme="light"] .mobile-only p {
  color: var(--light-4-color);
}
[data-theme="light"] #themeButton {
  color: var(--light-3-color);
  background: var(--light-1-color);
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 1), 5px 5px 15px rgba(0, 0, 0, 0.1);
}
[data-theme="light"] #themeButton:hover {
  box-shadow: -8px -8px 20px rgba(255, 255, 255, 1), 8px 8px 20px rgba(0, 0, 0, 0.1);
}
[data-theme="light"] #copyright {
  color: var(--light-5-color);
}
[data-theme="light"] .tooltip {
  background-color: var(--light-1-color);
}
[data-theme="light"] .tooltip p {
  color: var(--light-5-color);
}
[data-theme="light"] .profile-picture {
  border-color: var(--light-5-color);
}

/* --------------------------------------------- */
#themeButton {
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 1), 5px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
@media screen and (min-width: 768px) {
  #themeButton:hover {
    transform: translateY(-3px);
    box-shadow: -8px -8px 20px rgba(255, 255, 255, 1), 8px 8px 20px rgba(0, 0, 0, 0.1);
  }
}
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-white);
  font-size: 16px;
  font-family: var(--ff-dm-sans);
  padding: 2rem 0rem;
  margin: 0;
}

main {
  margin: auto;
  max-width: 1280px;
  margin-bottom: 4rem;
}
.rapper-sec {
  margin: auto;
  max-width: 1280px;
}
@media screen and (min-width: 900px) {
  main {
    margin-bottom: 12rem;
    margin-top: 12rem;
  }
}
h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-lightBeige);
  margin-bottom: 0.5rem;
}
.h1_first {
  font-size: 2rem;
  font-weight: 600;
}
.h1-contact {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  letter-spacing: 0.025em;
}
.h1-bigtext {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-darkGrey);
  margin-bottom: 0.5rem;
}
.serious {
  font-family: var(--ff-jost);
  font-weight: 100;
}
.bottomH2 {
  font-family: var(--ff-noto-serif-display);
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}
.grid-h3 {
  font-family: var(--ff-dm-sans);
  font-size: 2rem;
  line-height: 1em;
  font-weight: 200;
  margin-bottom: 0;
  letter-spacing: 0.025em;
}
h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 0.5rem;
  letter-spacing: 0.025em;
}

h3 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
  letter-spacing: 0.025em;
}
.title-h3 {
  font-family: var(--ff-dm-sans);
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 0;
  letter-spacing: 0.025em;
}

@media screen and (min-width: 768px) {
  .h1_first {
    font-size: 3rem;
    line-height: 1;
  }
  .h1-contact {
    font-size: 5rem;
    line-height: 1;
  }
  .h1-bigtext {
    font-size: 5rem;
    line-height: 0.9;
  }
  h1 {
    font-size: 3rem;
  }
  .bottomH2 {
    font-family: var(--ff-noto-serif-display);
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 200;
    font-style: italic;
  }
}

p {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
}
#footnote p {
  line-height: 1.5;
  font-weight: 200;
}

a {
  color: inherit;
}
@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: #f2cb05 !important;
  }
}

.text-highlight {
  color: var(--color-darkBlue);
}

/* NAV */
nav {
  margin: auto;
  max-width: 1088px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
@media screen and (min-width: 900px) {
  nav {
    margin-bottom: 12rem;
  }
}

#navLink-home {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  line-height: 1.5em;
}
@media screen and (min-width: 900px) {
  #navLink-home {
    font-size: 2rem;
  }
}
/* --------------------------- */
#byline {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 200;
}
@media screen and (min-width: 900px) {
  #byline {
    font-size: 1.5rem;
  }
}
/* SOCIAL LINKS */
.site-utility {
  display: flex;
  align-items: center;
}
.site-utility .social-links {
  margin-right: 3rem;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-links li {
  margin-right: 1rem;
}
@media screen and (min-width: 900px) {
  .social-links li {
    margin-right: 2rem;
  }
}
.social-links li:last-of-type {
  margin-right: 0;
}
.social-links li a {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1em;
}

.site-utility .social-links {
  display: none;
}
@media screen and (min-width: 900px) {
  .site-utility .social-links {
    display: inline-flex;
  }
}
/* ------------------------------ */

.about-section {
  margin: auto;
  position: relative;
  text-align: left;
  max-width: 1088px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.about-section h1 {
  font-family: var(--ff-noto-serif-display);
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  opacity: 0.1;
}
.text-about {
  font-family: var(--ff-dm-sans);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 0.5rem;
  letter-spacing: 0.025em;
}
@media screen and (min-width: 900px) {
  .about-section h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30rem;
    font-weight: 100;
    opacity: 0.1;
  }

  p {
    line-height: 2em;
  }
  .text-about {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1rem;
    letter-spacing: 0.02em;
  }
}

.mobile-padding-button {
  margin-bottom: 4rem;
}

@media screen and (min-width: 900px) {
  .mobile-padding-cv {
    margin-bottom: 1.5rem;
    padding: 0rem 1.5rem;
  }
  .mobile-padding {
    margin-top: 10rem;
    margin-bottom: 8rem;
  }

  .mobile-padding-flex {
    margin-top: 10rem;
    margin-bottom: 8rem;
  }
  .mobile-padding-skills {
    padding: 10rem 0;
  }

  .mobile-padding-button {
    margin-top: 20rem;
    margin-bottom: 2rem;
  }

  .mobile-padding-pic {
    margin-bottom: 12rem;
  }
  .mobile-padding-margin-0 {
    padding-top: 10rem;
    margin-top: 10rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1183px) {
  .mobile-padding {
    padding: 0 1.5rem;
  }
  .mobile-padding-skills {
    padding: 5rem 1.5rem;
  }
  .mobile-padding-nav {
    padding: 0rem 1.5rem;
  }

  .mobile-padding-centered {
    margin-bottom: 1.5rem;
  }
  .mobile-padding-margin-0 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 5rem;
    margin-bottom: 2rem;
  }
  .about-section {
    padding-top: 5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .rapper-sec {
    padding-bottom: 5rem;
  }
}

/* HEADER & FOOTER */
header {
  margin: auto;
  max-width: 1088px;
  margin-bottom: 4rem;
}
section {
  margin: auto;
  max-width: 1088px;
  margin-bottom: 5rem;
}
.mobile-padding-centered {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

footer {
  margin: auto;
  max-width: 1088px;
}
@media screen and (min-width: 900px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
}

footer .social-links {
  display: inline-flex;
}
@media screen and (min-width: 900px) {
  footer .social-links {
    order: 1;
  }
}

#copyright {
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .grid-container {
    max-width: 1184px;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
  }
}
.picture-flex {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}
@media screen and (min-width: 900px) {
  .picture-flex {
    margin-top: 10rem;
    margin-bottom: 8rem;
  }
}
@media screen and (max-width: 1183px) {
  .picture-flex {
    padding: 0rem 1.5rem;
  }
}
.three-picture {
  width: 60%;
  border-radius: 50%;
  height: auto;
  border: 5px solid black;
}
.slide {
  display: block;
  text-align: center;
  padding: 0 10px;
}
.slide2 {
  display: block;
  text-align: center;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .picture-flex {
    display: flex;
    justify-content: space-evenly;
  }

  .three-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
}
.grid-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .grid-column {
    flex: 1;
    max-width: 568px;
    margin: 0;
    justify-content: space-between;
  }
}
.card-a {
  margin: 1rem 1rem;
}
.ui-card {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  max-width: 500px;
}
.neomorphic-container {
  padding: 20px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 1), 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.neomorphic-container {
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .neomorphic-container {
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .neomorphic-container:hover {
    transform: translateY(-4px);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 1), 10px 10px 20px rgba(0, 0, 0, 0.1);
  }
  .neomorphic-container:hover .neomorphic-image {
    opacity: 0.7;
  }
  .neomorphic-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
  .title-h3 {
    display: block;
  }
}
.neomorphic-image {
  max-width: 100%;
  border: 2px solid #f0f0f0;
  height: auto;
  transition: opacity 0.3s;
}
.profile-picture {
  border: solid 1px black;
  width: 4rem;
  float: right;
  border-radius: 50%;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
